{% extends "layout.html" %}

{% block title %}
Remove inproceeding
{% endblock %}

{% block content %}
<form action="/create_article" method="post">

    <h1>Add article</h1>



    <p>Required fields are marked with *</p>

    <div class="form-row">
        <label>*Cite key:</label>
        <input type="text" name="citekey" required />
    </div>

    <div class="form-row">
        <label>*Author:</label>
        <input type="text" name="author" required />
    </div>

    <div class="form-row">
        <label>*Publication year:</label>
        <input type="text" name="year" required />
    </div>

    <div class="form-row">
        <label>*Article name:</label>
        <input type="text" name="name" required />
    </div>

    <div class="form-row">
        <label>*Journal:</label>
        <input type="text" name="journal" required />
    </div>

    <div class="form-row">
        <label>Volume:</label>
        <input type="text" name="volume" />
    </div>

    <div class="form-row">
        <label>Number:</label>
        <input type="text" name="number" />
    </div>

    <div class="form-row">
        <label>Urldate:</label>
        <input type="text" name="urldate" />
    </div>

    <div class="form-row">
        <label>Url:</label>
        <input type="text" name="url" />
    </div>

    <div class="form-row">
        <label>Tag:</label>
        <input type="text" name="tag" />
    </div>

    <button type="submit">Create</button>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}

</form>

<a href="{{ url_for('index') }}">Homepage</a>

{% endblock %}
