{% extends "layout.html" %} {% block title %} Edit book information {% endblock
%} {% block content %}

<form
    action="{{ url_for('modified_book', citekey=book['citekey']) }}"
    method="post"
>
    <h1>Edit Book</h1>

    <div class="form-row">
        <label>*Cite key:</label>
        <input
            type="text"
            name="citekey"
            value="{{ book['citekey'] }}"
            required
        />
    </div>

    <div class="form-row">
        <label>*Author:</label>
        <input
            type="text"
            name="author"
            value="{{ book['author'] }}"
            required
        />
    </div>

    <div class="form-row">
        <label>*Editor:</label>
        <input
            type="text"
            name="editor"
            value="{{ book['editor'] }}"
            required
        />
    </div>

    <div class="form-row">
        <label>*Book title:</label>
        <input type="text" name="title" value="{{ book['title'] }}" required />
    </div>

    <div class="form-row">
        <label>*Publisher:</label>
        <input
            type="text"
            name="publisher"
            value="{{ book['publisher'] }}"
            required
        />
    </div>

    <div class="form-row">
        <label>*Year:</label>
        <input type="text" name="year" value="{{ book['year']}}" required />
    </div>

    <div class="form-row">
        <label>Volume:</label>
        <input type="text" name="volume" value="{{ book['volume'] or '' }}" />
    </div>

    <div class="form-row">
        <label>Number:</label>
        <input type="text" name="number" value="{{ book['number'] or '' }}" />
    </div>

    <div class="form-row">
        <label>Urldate:</label>
        <input type="text" name="urldate" value="{{ book['urldate'] or '' }}" />
    </div>

    <div class="form-row">
        <label>Url:</label>
        <input type="text" name="url" value="{{ book['url'] or '' }}" />
    </div>

    <div class="form-row">
        <label>Tag:</label>
        <input type="text" name="tag" value="{{ book['tag'] or '' }}" />
    </div>

    <button type="submit">Edit</button>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}
</form>

<!-- DELETE FORM -->
<form
    action="{{ url_for('remove_book', citekey=book['citekey']) }}"
    method="get"
>
    <button type="submit" style="background-color: #c62828; color: white">
        Delete
    </button>
</form>

<a href="{{ url_for('index') }}">Homepage</a>
{% endblock %}
