<style>
    .form-row {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .form-row label {
        width: 150px;
        font-weight: bold;
    }
    .form-row input {
        flex: 1;
        width: 150px;
        max-width: 150px;
    }
</style>

<form action="{{ url_for('modified_book', citekey=book['citekey']) }}" method="post">


    <h1>Edit Book</h1>


<div class="form-row">
        <label>*Cite key:</label>
        <input type="text" name="citekey" value="{{ book['citekey'] }}" required />
    </div>

    <div class="form-row">
        <label>*Author:</label>
        <input type="text" name="author" value="{{ book['author'] }}" required />
    </div>

    <div class="form-row">
        <label>*Editor:</label>
        <input type="text" name="editor" value="{{ book['editor'] }}" required/>
    </div>

    <div class="form-row">
        <label>*Book title:</label>
        <input type="text" name="title" value="{{ book['title'] }}" required />
    </div>

    <div class="form-row">
        <label>*Publisher:</label>
        <input type="text" name="publisher" value="{{ book['publisher'] }}" required />
    </div>

    <div class="form-row">
        <label>*Year:</label>
        <input type="text" name="year" value="{{ book['year']}}" required />
    </div>

    <div class="form-row">
        <label>Volume:</label>
        <input type="text" name="volume" value="{{ book['volume'] or '' }}" />
    </div>

    <div class="form-row">
        <label>Number:</label>
        <input type="text" name="number" value="{{ book['number'] or '' }}" />
    </div>

    <div class="form-row">
        <label>Urldate:</label>
        <input type="text" name="urldate" value="{{ book['urldate'] or '' }}" />
    </div>

    <div class="form-row">
        <label>Url:</label>
        <input type="text" name="url" value="{{ book['url'] or '' }}" />
    </div>

    <div class="form-row">
        <label>Tag:</label>
        <input type="text" name="tag" value="{{ book['tag'] or '' }}" />
    </div>

    <button type="submit">Edit</button>

     {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}
</form>

<a href="{{ url_for('index') }}">Homepage</a>