{% extends "layout.html" %}

{% block title %}
Remove Article
{% endblock %}

{% block body %}

<h1>Remove article</h1>

<p>Are you sure you want to remove the following article?</p>

<p> <b>Citekey:</b> {{ article.citekey }} </p>
<p> <b>Author:</b> {{ article.author }} </p>
<p> <b>Publication year:</b> {{ article.year }} </p>
<p> <b>Article name:</b> {{ article.name }} </p>
<p> <b>Journal:</b> {{ article.journal }} </p>
{% if article.volume %}<p> <b>Volume:</b> {{ article.volume }} </p>{% endif %}
{% if article.number %}<p> <b>Number:</b> {{ article.number }} </p>{% endif %}
{% if article.urldate %}<p> <b>Urldate:</b> {{ article.urldate }} </p>{% endif %}
{% if article.url %}<p> <b>Url:</b> {{ article.url }} </p>{% endif %}
{% if article.tag %}<p> <b>Tag:</b> {{ article.tag }} </p>{% endif %}

<form action="/remove_article/{{ citekey }}" method="POST">
    <input type="submit" name="remove" value="Confirm">
    <input type="submit" name="return" value="Cancel">
</form>
<a href="{{ url_for('index') }}">Homepage</a></div>
{% endblock %}