body {
    margin: auto;
    max-width: 50em;
    font-family: "Gill Sans";
    background-color: lightyellow;
  }

.item {
    border: 2px solid black;
    margin: 1em;
    padding: 0.2em 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-main {
    max-width: 75%;
}

.item-time {
    font-size: 0.9em;
    color: gray;
    white-space: nowrap;
}

.info {
    border: 2px solid black;
    margin: 0.5em;
    padding: 0.5em;
    background-color: papayawhip;
    color: black;
  }

.button-column {
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 10px;
}

.form-row {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
  }
.form-row label {
      width: 150px;
      font-weight: bold;
  }
.form-row input {
      flex: 1;
      width: 150px;
      max-width: 150px;
  }

.columns-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
}

.column {
    flex: 1;
    background: #f7f7f7;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.column h2 {
    text-align: center;
    margin-bottom: 10px;
}

.source-item {
    margin-bottom: 12px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ddd;
}

.source-item a {
    font-weight: bold;
}

.modify-link {
    font-size: 12px;
    display: inline-block;
    margin-top: 4px;
}
